@font-face {
  font-family: farhang-bold;
  src: url("../public/fonts/woff/Farhang2-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "farhang";
  src: url("../public/fonts/woff/Farhang2-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}

body {
  margin: 0;
  font-family: "farhang";
}

.App {
  width: 90vw;
  display: flex;
  margin: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  margin: 100px 0 0 0;
  font-size: 30px;
}
.word-cloud {
  text-align: center;
}
.bubble-chart {
  text-align: center;
}
.bar-chart {
  text-align: center;
}
.treemap-chart {
  text-align: center;
}
.loading {
  font-size: 20px;
  color: #666;
}
.error {
  color: red;
}

table,
th,
td {
  direction: rtl;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
